@model IEnumerable<LojaNinja.Dominio.Pedido>

@{
    ViewBag.Title = "Listagem";
}

<h2 style="display: inline-block">Listagem</h2>
<span style="float: right;padding: 2px;margin-right: 200px; margin-top: 25px;">
    <a href="@Url.Action("Novo")" class="btn btn-primary">
        <span style="padding-right: 3px;" class="glyphicon glyphicon-edit"></span>
        NOVO PEDIDO
    </a>
</span>
<hr />
<h3> <span style="font-size: 18px" class="glyphicon glyphicon-filter"></span> Filtrar pedidos</h3>
<h4 style="color: red">@{if (ViewBag.Erro != null)
        {
        <span style="font-size: 22px;" class="glyphicon glyphicon-exclamation-sign"></span>
        @ViewBag.Erro
        }
    }</h4>
<form action="/Pedido/Listagem" class="form-inline" role="form" method="post">
    <div class="form-group">        
        <label for="NomeCliente">Cliente:</label>
        <input type="text" class="form-control" name="nomeCliente" id="NomeCliente" placeholder="Ex: Nunes">
    </div>
    <div class="form-group">
        <label for="NomeProduto">Produto:</label>
        <input type="text" class="form-control" id="NomeProduto" name="nomeProduto" placeholder="Ex: Kunai">
    </div>
    <button type="submit" class="btn btn-success" style="vertical-align: bottom">
        <span style="font-size: 12px;" class="glyphicon glyphicon-search"></span>
        Buscar Pedidos
    </button>
</form>

<hr />

<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td style="min-width: 120px;">
                    @Html.DisplayFor(modelItem => item.ValorPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega)
                </td>
                <td>
                    @{
                        if (item.Urgente == true)
                        {
                            <div style="color: red; font-size: 22px; text-align:center">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                            </div>
                        }
                        else
                        {
                            <div style="color: grey; font-size: 22px; text-align:center">
                                <span class="glyphicon glyphicon-minus"></span>
                            </div>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td style="min-width: 145px;">
                    <span>
                        <a href="@Url.Action("Detalhes", new { id = item.IDPedido })" class="btn btn-info">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                        </a>
                    </span>
                    <span>
                        <a href="@Url.Action("Novo", new { id = item.IDPedido })" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </span>
                    <span>
                        <a href="@Url.Action("Deletar", new { id = item.IDPedido })" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </span>
                </td>
            </tr>
                        }
    </tbody>
</table>
